html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.full-sinopsis {
    display: none;
}

    .full-sinopsis.show {
        display: block;
    }

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia el color y la intensidad del resaltado según tus preferencias */
}
.card-img-top {
    cursor: pointer;
}
